@model MVC_Tuincentrum.Models.Plant

@{
    ViewBag.Title = "Details plant: " + Model.Naam;
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerkoopPrijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerkoopPrijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soort.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soort.Naam)
        </dd>

        <dt>Afbeelding</dt>
        <dd>
            @{
                var imagesource = Html.Action("ImageOrDefault", "Plant", new
                {
                    id = Model.PlantNr
                });
            }
            <img src="@Url.Content("~"+imagesource.ToString())" alt="@Model.Naam" height="64" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlantNr }, new { @class = "btn btn-warning"}) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
</p>
